@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body{
    background-color: #FFDFD3;
    font-family: 'Courgette', sans-serif;
}


/* NAVIGATION*/
.navbar {
  text-transform: uppercase;
  font-weight: 70;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgb(241, 239, 241);
  color: rgb(241, 239, 241);
  padding: .5% 0;
  font-size: 1em;
  border: 0;
  height: 50px;
  }
  
  #collapsibleNavbar {
    background-color: rgb(241, 239, 241);
  }
  
  .navbar-brand {
    float: left;
    min-height: 20px;
    padding: 10px;
    padding-top: 13px;
    mix-blend-mode: multiply;
  }
  
  .nav-item {
    padding: 30px;
    padding-top: 5px;
    font-size: 1em;
    height: 65px;
    display: inline-block;
  }
  
  .caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: rgba(248, 233, 203, 0.938);
    text-transform: uppercase;
}
.caption h1{
    font-size: 4.8rem;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem rgba(182, 159, 150, 0.952);
    padding-bottom: 1rem;
}